.back{
  padding: 10px 20px;
  display: flex;
}
.userContent{
  width: 1200px;
  margin: 0 auto;
}
.contentCol{
  height: 50px;
  line-height: 50px;
  border: 1px solid;
}
.cipher{
  cursor: pointer;
}